.shaunat{width: 40px;position: sticky; top: 0;  z-index: 1000; }
.shaunat:hover {
  cursor: pointer;
}

body {
  background: lightpink;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin: auto;
}

h1{
  color: black;
}

p{
  color:black;
  font-size: 30px;
}

.container{
  border: 8px soild black;
  width: 100%;
}

