body {
  background: lightpink;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  margin: auto;
}

h1{
  color: black;
}

p{
  color:black;
  font-size: 30px;
}

